body{
    font-family: Poppins;
    background-image:linear-gradient(45deg, $maincolor, $secondcolor);
    min-height:100dvh;
}

main{
    color:white;
    font-size:3rem;
    width:100%;
    overflow-x:hidden;
    padding:8rem;
    animation:fadein 1s forwards;
}

.link--accent{
    color:white;
    font-weight:bolder;
    width:fit-content;
    position:relative;
    padding:0 0 0 2rem;

    &::after{
        display:block;
        content:" ";
        background-color:$accentcolor;
        height:2rem;
        width:25%;
        margin-top:-2rem;
        border-radius:1rem;
        z-index:-2;
        position:relative;
        transition: background-color 1s;
    }
}

.link--accent:hover::after{
    background-color:$deepblue;
    transition: background-color 0.5s;

}

h2{
    color:white;
    font-size:3rem;
    padding-left:5rem;
}

.contacts {
        position: absolute;
        z-index: 2;
        right: 1rem;
        top: 2rem;
        display: flex;
        width: 9rem;
        justify-content: space-around;

    a{
        color:$deepblue;
    }
}