.technologies{

    padding:2rem;

    h3{
    color:$deepblue;
    text-align:right;
    font-weight:normal;
}
}

    .technologiesblock {
            width: fit-content;
            aspect-ratio: 1/1;
            padding: 2rem;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            border-radius: 100rem;
            color: #005479;
            position: absolute;
            transition: 0.5s;
            transition-delay: 1s;
            box-shadow: inset rgba(255,255,255,0.5) 0 0 2rem, inset rgba(56, 113, 140, 0.5) 2rem -2rem 2rem;
            cursor:crosshair;

    }

    h4{
        font-size:3rem;
    }

.technologiesblock:nth-child(1){
    left:15rem;
    top:15rem;
    animation:bubbles 5s infinite linear alternate-reverse;
}

.technologiesblock:nth-child(2){
    left:50rem;
    top:35rem;
    animation:bubbles 8s infinite linear alternate;
}

.technologiesblock:nth-child(3){
    left:20rem;
    top:25rem;
    animation:bubbles 4s infinite linear alternate;
}

.technologiesblock:nth-child(4){
    left:60rem;
    top:15rem;
    animation:bubbles 6s infinite linear alternate-reverse;
}

.technologiesblock:nth-child(5){
    left:80rem;
    top:25rem;
    animation:bubbles 5s infinite linear alternate-reverse;

}

.technologiesblock:active{
    filter:blur(25rem);
    transition:0.2s;
}

.score {
	position: absolute;
	top: 7rem;
    right:7rem;
	font-size: 4rem;
    color:$deepblue;
}