h1 {
	background-image: linear-gradient(45deg, #005479, #e1624b);
	width: fit-content;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	display: flex;
	flex-direction: column;
	line-height: 0.9;
	font-weight:bold;

	span l{
		transform:translateY(-1rem);
		padding:1rem 0 0 0;
	}
    
	@for $i from 1 to 9 {
		span :nth-child(#{$i}){
			display:inline-block;
			transform:translateY(-1rem);
			animation: wave 1s infinite alternate-reverse;
			animation-delay:$i * 0.1s;
			position:relative;
			z-index:2;
		}
		
	}	
}